.link {
  font-size: 16px;

  ol {
    display: flex;
    align-items: center;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    margin-right: 4px;
  }
}