// Define color variables
$blue: #287bff;
$white: #fff;
$grey: #f5f5f5;
$black1: #222;
$black2: #999;
$red: #C03221;
$light-red: #F2D6D3;
$orange: #F16A1B;
$dark-orange: #A94A13;
$light-orange: #FCE1D1;
$green: #1AA053;
$light-green: #D1ECDD;
$turquoise: #079AA2;
$light-turquoise: #CDEBEC;

// Define screen size variables
$max-screen-size: 1200px;
$md-screen-size: 800px;
$sm-screen-size: 480px;